$colorSelectSite: #F16D7F;
$widthSite: 1141px;
$widthLaptopSite: 768px;
$colorText: #4D4D4D;
$colorBlackBack: #222222;
$colorPinkBack: #F8F3F4;
$colorGreyBack: #F7F7F7;
$colorButtons: #A4A4A4;
$colorLoyalty: #000000;