* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570.5px);
  padding-right: calc(50% - 570.5px);
}

.header {
  min-height: 75px;
  background: #222222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_search {
  transition: 0.5s;
}
.header_search:hover {
  transform: scale(1.1);
}
.header_main {
  transition: 0.5s;
}
.header_main:hover {
  transform: scale(1.1);
}
.header__left {
  display: flex;
  align-items: flex-end;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__link-site {
  transition: 0.5s;
}
.header__link-site:hover {
  transform: scale(1.1);
}

.top_head {
  display: flex;
  min-height: 148px;
  background: #F8F3F4;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #F16D7F;
}
.top_head_heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}
.top_head_breadcrumbs_link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: grey;
}
.top_head_breadcrumbs_link_site {
  font-weight: 700;
  color: #F16D7F;
}

.main {
  display: flex;
  gap: 128px;
  margin-top: 96px;
  margin-bottom: 128px;
}

.product {
  width: 652px;
  display: flex;
  gap: 31px;
  box-shadow: 15px 18px 15px rgba(0, 0, 0, 0.1);
  transition: 0.7s;
}
.product__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: black;
  padding-top: 22px;
  padding-bottom: 42px;
  width: 202px;
  height: 58px;
}
.product__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 6px;
  color: #4D4D4D;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.product__thisPrice {
  color: #F16D7F;
}
.product__quantity {
  display: flex;
  gap: 24.5px;
  align-items: center;
}
.product__quantity__input {
  height: 24px;
  width: 38px;
  border: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
  padding-left: 18px;
}
.product-box__content {
  margin-bottom: 48.5px;
  gap: 40px;
  display: flex;
  flex-direction: column-reverse;
}
.product__img {
  width: 262px;
  height: 306px;
}
.product:hover {
  transform: scale(1.05);
}
.product__cross:hover path {
  fill: #F16D7F;
}

.product2__img {
  background-color: #F8F3F4;
}

.button {
  border: 1px solid #A4A4A4;
  width: 235px;
  height: 50px;
  cursor: pointer;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
  cursor: pointer;
  transition: 0.6s;
}
.button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.button-wrapper {
  display: flex;
  gap: 192.5px;
}

.checkout {
  padding-top: 17px;
  display: flex;
  gap: 57px;
  flex-direction: column;
}

.shipping__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 20.5px;
}
.shipping__window {
  border: 1px solid #A4A4A4;
  width: 342px;
  height: 45px;
  margin-bottom: 20px;
  padding-left: 17px;
  padding-right: 17px;
}
.shipping__zip {
  margin-bottom: 23px;
}
.shipping__button {
  border: 1px solid #A4A4A4;
  width: 100px;
  height: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  cursor: pointer;
  transition: 0.6s;
  background-color: #FFFFFF;
}
.shipping__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.total {
  width: 360px;
  height: 214px;
  background-color: #F7F7F7;
}
.total__subtotal {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
  margin-top: 39px;
  margin-left: 218px;
}
.total__grandtotal {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
  margin-left: 153px;
}
.total__grandtotal_sum {
  font-weight: 700;
  color: #F16D7F;
}
.total__button {
  margin-top: 17px;
  margin-left: 44px;
  border: 1px solid #F16D7F;
  width: 273px;
  height: 50px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.6s;
  background-color: #F16D7F;
}
.total__button:hover {
  transform: scale(1.05);
}

.subscribe {
  background: url(img/subscribe-2.svg) no-repeat center;
  display: flex;
  align-items: center;
  gap: 327px;
  min-height: 448px;
  justify-content: center;
  flex-wrap: wrap;
}
.subscribe__registration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__heading {
  font-size: 24px;
}
.subscribe__text {
  font-size: 18px;
  margin-top: 7px;
}
.subscribe__regi {
  font-size: 18px;
  margin-top: 27px;
  display: flex;
  flex-direction: row;
}
.subscribe__email_place {
  background: url(img/enter_email.svg);
  width: 234px;
  height: 49px;
  border: none;
  opacity: 67%;
  font-size: 14px;
  padding-left: 22px;
}
.subscribe__button {
  width: 100px;
  height: 49px;
  border: none;
  background: url(img/button_subscribe.svg);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  cursor: pointer;
  transition: 0.6s;
}
.subscribe__button:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #222222;
  display: flex;
  gap: 7.3px;
  justify-content: space-between;
  min-height: 79px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__icons {
  display: flex;
  gap: 7.29px;
  max-height: 32px;
  transition: 0.6s;
}
.footer__icons__link {
  display: flex;
  border: 1px solid #222222;
  width: 31.45px;
  height: 32px;
  background-color: white;
  place-content: center;
  align-items: center;
  transition: 0.6s;
}
.footer__icons__link:hover {
  background-color: #F16D7F;
  transform: scale(1.2);
  fill: white;
}
.footer__icons__link:hover path {
  fill: white;
}/*# sourceMappingURL=style.css.map */