@import 'vars';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header {
    min-height: 75px;
    background: $colorBlackBack;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    &_search {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &_main {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__link-site {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }
}

.top_head {
    display: flex;
    min-height: 148px;
    background: $colorPinkBack;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: $colorSelectSite;

    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        cursor: pointer;
    }

    &_breadcrumbs_link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: grey;

        &_site {
            font-weight: 700;
            color: $colorSelectSite;
        }

    }
}

.top_main {
    min-height: 777px;
    background: $colorGreyBack;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__picture {
        padding-top: 11px;
    }

    &__icons:hover {
        fill: $colorSelectSite;
    }
    &__arrows{
        transition: .6s;
        &:hover {
            transform: scale(1.08);
        }
    }

}

.bottom_main {
    min-height: 601px;
    max-width: $widthSite;
    border: 2px solid;
    border-color: $colorGreyBack;
    background-color: white;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 64.5px;


    &__heading1 {
        font-size: 14px;
        font-weight: 300;
        color: $colorSelectSite;
        margin-bottom: 12px;
    }

    &__heading2 {
        font-size: 18px;
        font-weight: 300;
        color: $colorText;
        margin-top: 12px;
        margin-bottom: 48.8px;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        color: $colorText;
        line-height: 17px;
        text-align: center;
        max-width: 555px;
    }

    &__price {
        font-size: 24px;
        font-weight: 300;
        color: $colorSelectSite;
        margin-top: 32px;
        margin-bottom: 65px;
    }

    &__second_line {
        display: block;
        margin: 0 auto;
    }

    &__breadcrumbs {

        margin-top: 65px;
        margin-bottom: 63.5px;
        display: flex;
        gap: 20px;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;

        &_link {
            color: #6F6E6E;
            font-size: 14px;
            font-weight: 400;
        }
    }


    &__add {
        color: #F26376;
        border: 1px solid #FF6A6A;
        width: 211px;
        height: 47.7px;
        display: flex;
        justify-content: center;
        gap: 23px;
        align-items: center;
        transition: 1s;
        cursor: pointer;

        &_text {
            color: $colorSelectSite;
        }

        &:hover {
            transform: scale(1.05);

        }

    }
}

.product {

    max-width: 360px;
    cursor: pointer;
    transition: .6s;
    &:hover {
        transform: scale(1.02);
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 36px;
        text-align: center;
        color: black;
        padding-top: 24px;
        padding-bottom: 24.5px;
    }

    &__content {
        padding-left: 16.46px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: $colorGreyBack;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin-top: 6px;
        color: $colorText;
        max-width: 314px;
    }

    &__price {
        font-size: 16px;
        color: $colorSelectSite;
        padding-top: 18px;
        padding-bottom: 20px;
    }

    &-box__content {
        margin-top: 129.5px;
        margin-bottom: 128px;
        gap: 30px;
        display: flex;
    }
}

.subscribe {
    background: url(img/subscribe-2.svg) no-repeat center;
    display: flex;
    align-items: center;
    gap: 327px;
    min-height: 448px;
    justify-content: center;
    flex-wrap: wrap;

    &__registration {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-size: 24px;
    }

    &__text {
        font-size: 18px;
        margin-top: 7px;
    }

    &__regi {
        font-size: 18px;
        margin-top: 27px;
        display: flex;
        flex-direction: row;
    }

    &__email_place {
        background: url(img/enter_email.svg);
        width: 234px;
        height: 49px;
        border: none;
        opacity: 67%;
        font-size: 14px;
        padding-left: 22px;
    }

    &__button {
        width: 100px;
        height: 49px;
        border: none;
        background: url(img/button_subscribe.svg);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;
        cursor: pointer;
        transition: .6s;
    }

    &__button:hover {
        transform: scale(1.1);
    }

}

.footer {
    background-color: $colorBlackBack;
    display: flex;
    gap: 7.3px;
    justify-content: space-between;
    min-height: 79px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__icons {
        display: flex;
        gap: 7.29px;
        max-height: 32px;
        transition: .6s;

        &__link {
            display: flex;
            border: 1px solid $colorBlackBack;
            width: 31.45px;
            height: 32px;
            background-color: white;
            place-content: center;
            align-items: center;
            transition: 0.6s;
        }

        &__link:hover {
            background-color: $colorSelectSite;
            transform: scale(1.2);
            fill: white;
        }

        &__link:hover path {
            fill: white;
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .top {
        overflow-x: hidden;
    }

    .header {
        &__left {
            margin-left: 32px;
        }

        &__right {
            margin-right: 18px;
        }
    }

    .top_head {

        padding-left: 16px;
        padding-right: 16px;
    }

    .product3 {
        display: none;
    }

    .product {
        &-box__content {
            gap: 16px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-bottom: 128px;
        }
    }

    .subscribe {
        background: url(img/subscribe-laptop.jpg) no-repeat center;
        gap: 48px;
        flex-direction: column;
        padding-top: 53px;

        &__regi {
            padding-bottom: 130px;
        }
    }

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
}