@import 'vars';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header {
    min-height: 75px;
    background: $colorBlackBack;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    &_search {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &_main {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__link-site {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }
}

.top_head {
    display: flex;
    min-height: 148px;
    background: $colorPinkBack;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: $colorSelectSite;

    &_heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        cursor: pointer;
    }

    &_breadcrumbs_link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: grey;

        &_site {
            font-weight: 700;
            color: $colorSelectSite;
        }

    }
}

.filter-sort {
    height: 132px;
    position: relative;
    display: flex;
    gap: 30px;
    padding-top: 39px;
    box-sizing: border-box;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;

    &__content {
        background-color: #FFFFFF;
        padding-top: 0;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
    }

    &[open] {
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    }

    &[open] .filter__heading {
        color: $colorSelectSite;
    }

    &[open] path {
        fill: $colorSelectSite;
    }


    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        color: $colorSelectSite;
        padding-left: 16px;
    }

    &__heading {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $colorBlackBack;
        cursor: pointer;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $colorSelectSite;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;

        &:hover {
            color: $colorSelectSite;
        }

        &-box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
        }
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
    }

    &__check {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $colorText;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorText;
        cursor: pointer;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
}

.product {
    max-width: 360px;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 36px;
        text-align: center;
        color: black;
        padding-top: 24px;
        padding-bottom: 24.5px;
    }

    &__content {
        padding-left: 16.46px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        background-color: $colorGreyBack;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        margin-top: 6px;
        color: $colorText;
        max-width: 314px;
    }

    &__price {
        font-size: 16px;
        color: $colorSelectSite;
        padding-top: 18px;
        padding-bottom: 20px;
    }

    transition: 0.6s;

    &-box__content {
        margin-top: 129.5px;
        margin-bottom: 48.5px;
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }

    &:hover {
        transform: scale(1.05);
    }
}

.product2 {
    background-color: $colorPinkBack;
    justify-content: center;


    &__img {
        padding: 9px 82px;
    }
}

.scroll {
    border: 1px solid #EBEBEB;
    width: 283px;
    height: 44px;
    border-radius: 3px;
    display: flex;
    place-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 96.5px;
    }

    &:hover {
        border: 1px solid $colorSelectSite;
    }
}

.advantages {
    background-color: $colorBlackBack;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        cursor: pointer;
        transition: .6s;

    }

    &__item:hover {
        transform: scale(1.1);
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.subscribe {
    background: url(img/subscribe-2.svg) no-repeat center;
    display: flex;
    align-items: center;
    gap: 327px;
    min-height: 448px;
    justify-content: center;
    flex-wrap: wrap;

    &__registration {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-size: 24px;
    }

    &__text {
        font-size: 18px;
        margin-top: 7px;
    }

    &__regi {
        font-size: 18px;
        margin-top: 27px;
        display: flex;
        flex-direction: row;
    }

    &__email_place {
        background: url(img/enter_email.svg);
        width: 234px;
        height: 49px;
        border: none;
        opacity: 67%;
        font-size: 14px;
        padding-left: 22px;
    }

    &__button {
        width: 100px;
        height: 49px;
        border: none;
        background: url(img/button_subscribe.svg);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;
        cursor: pointer;
        transition: .6s;
    }

    &__button:hover {
        transform: scale(1.1);
    }

}

.footer {
    background-color: $colorBlackBack;
    display: flex;
    gap: 7.3px;
    justify-content: space-between;
    min-height: 79px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__icons {
        display: flex;
        gap: 7.29px;
        max-height: 32px;
        transition: .6s;

        &__link {
            display: flex;
            border: 1px solid $colorBlackBack;
            width: 31.45px;
            height: 32px;
            background-color: white;
            place-content: center;
            align-items: center;
            transition: 0.6s;
        }

        &__link:hover {
            background-color: $colorSelectSite;
            transform: scale(1.2);
            fill: white;
        }

        &__link:hover path {
            fill: white;
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .top {
        overflow-x: hidden;
    }

    .header {
        &__left {
            margin-left: 32px;
        }

        &__right {
            margin-right: 18px;
        }
    }

    .top_head {

        padding-left: 16px;
        padding-right: 16px;
    }

    .filter-sort {
        gap: 120px;
        padding-top: 19px;
        box-sizing: border-box;
    }

    .product {
        &-box__content {
            gap: 16px;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
    }

    .product2 {
        width: 360px;
    }
    
    .product3 {
        display: none;
    }

    .scroll {
        &__wrapper {
            margin-bottom: 63.5px;
        }
    }

    .advantages {
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        background: url(img/subscribe-laptop.jpg) no-repeat center;
        gap: 48px;
        flex-direction: column;
        padding-top: 53px;

        &__regi {
            padding-bottom: 130px;
        }
    }

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
}