@import 'vars';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header {
    min-height: 75px;
    background: $colorBlackBack;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    &_search {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &_main {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 33px;
    }

    &__link-site {
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);

        }
    }
}

.promo {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);

    &__img {
        max-width: 50%;

        &__photo {
            max-width: 100%;
        }
    }

    &__info {
        border-left: 12px solid $colorSelectSite;
        padding-left: 16px;
        margin-top: 67%;
    }

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: $colorBlackBack;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: $colorBlackBack;
    }

    &__content {
        padding-left: 64px;
    }
}

.colortext {
    color: $colorSelectSite;
}

.sale {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;


    &__item {
        position: relative;
        cursor: pointer;
        transition: .6s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__content {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__item_big {
        min-height: 180px;
        grid-column: 1 / -1;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    &__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #F16D7F;
    }
}

.product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: $colorBlackBack;
}

.product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
}

.product-box__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
}

.product {
    position: relative;

    &__img {
        width: 100%;
    }

    &__content {
        background: #F8F8F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 24px 16px;
        gap: 16px;
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
    }

    &__add {
        position: absolute;
        top: 188px;
        left: 111px;
        border: 1px solid #fff;
        width: 139px;
        height: 44px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: none;
        align-items: center;
        justify-content: center;
        gap: 11px;
        color: #FFFFFF;

        &:hover {
            box-shadow: 0 0 5px #fff;

            &:hover svg path {
                fill: #F16D7F;
            }
        }
    }
}

.product:hover .product__img {
    filter: brightness(0.5);
}

.product:hover .product__add {
    display: flex;
}


.product2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    &_img {
        left: 45.5%;
        right: 45.63%;
        top: 54.22%;
        bottom: 32.1%;
        background-color: #F7E4E2;
        margin-bottom: 3px;
        padding: 9px 110.06px 11px 108px;
    }
}

.button_bottom {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 13.5px 38.5px;
    background-color: white;
    margin-top: 48.5px;
    margin-bottom: 60.5px;
    cursor: pointer;
    transition: .6s;

    &:hover {
        background-color: #F16D7F;
        color: white;
        transform: scale(1.05);
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
}


.advantages {
    background-color: $colorBlackBack;
    padding-top: 104px;
    padding-bottom: 104px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;

    &__item {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        cursor: pointer;
        transition: .6s;

    }

    &__item:hover {
        transform: scale(1.1);
    }

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}

.subscribe {
    background: url(img/subscribe-2.svg) no-repeat center;
    display: flex;
    align-items: center;
    gap: 327px;
    min-height: 448px;
    justify-content: center;
    flex-wrap: wrap;

    &__registration {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        font-size: 24px;
    }

    &__text {
        font-size: 18px;
        margin-top: 7px;
    }

    &__regi {
        font-size: 18px;
        margin-top: 27px;
        display: flex;
        flex-direction: row;
    }

    &__email_place {
        background: url(img/enter_email.svg);
        width: 234px;
        height: 49px;
        border: none;
        opacity: 67%;
        font-size: 14px;
        padding-left: 22px;
    }

    &__button {
        width: 100px;
        height: 49px;
        border: none;
        background: url(img/button_subscribe.svg);
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;
        cursor: pointer;
        transition: .6s;
    }

    &__button:hover {
        transform: scale(1.1);
    }

}

.footer {
    background-color: $colorBlackBack;
    display: flex;
    gap: 7.3px;
    justify-content: space-between;
    min-height: 79px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    &__text {
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__icons {
        display: flex;
        gap: 7.29px;
        max-height: 32px;
        transition: .6s;

        &__link {
            display: flex;
            border: 1px solid $colorBlackBack;
            width: 31.45px;
            height: 32px;
            background-color: white;
            place-content: center;
            align-items: center;
            transition: 0.6s;
        }

        &__link:hover {
            background-color: $colorSelectSite;
            transform: scale(1.2);
            fill: white;
        }

        &__link:hover path {
            fill: white;
        }
    }
}

@media (max-width: 1024px) and (min-width: 768px) {

    .top {
        overflow-x: hidden;
    }

    .header {
        &__left {
            margin-left: 32px;
        }

        &__right {
            margin-right: 18px;
        }
    }

    .top_head {
        padding-left: 16px;
        padding-right: 16px;
    }

    .promo {

        &__info {
            border-left: 12px solid $colorSelectSite;
            padding-left: 16px;
            margin-top: 67%;
        }

        &__title {
            font-size: 44px;
            line-height: 53px;
        }

        &__heading {
            font-size: 24px;
            line-height: 29px;
        }

        &__content {
            padding-left: 14px;
        }

        &__info {
            margin-top: 47%;
        }

    }

    .sale {
        gap: 19px;
        padding-left: 16.5px;
        padding-right: 16.5px;
        padding-bottom: 0px;

        &__item__img {
            width: 100%;
        }

        &__content_big {
            margin-top: -30px;
        }
    }

    .product-box__content {
        margin-top: 48px;
        gap: 16px;
    }

    .button_bottom {
        margin-top: 33px;
        margin-bottom: 74px;
    }

    .advantages {
        flex-direction: column;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        background: url(img/subscribe-laptop.jpg) no-repeat center;
        gap: 48px;
        flex-direction: column;
        padding-top: 53px;

        &__regi {
            padding-bottom: 130px;
        }
    }

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }
}